html, body {
  font-family: "Futura";
  font-size: 16px;
  height: 100%; width: 100%;
  margin-left: 0;
}

hr {
  max-width: 512px;
}

.container {
  height: 100%;
  margin: 0 auto;
  max-width: 700px;
}

#question {
  height: 15%;
  min-height: 120px;
  margin: 5%;
  padding: 2%;
}

#question-wrapper {
  margin: 0 auto;
}

#question-icon {
  float: left;
  width: 120px;
}

#question-icon img {
  height: 70%; width: 70%;
  margin: 0 auto;
  padding: 15%;
}

#question-text {
  padding-top: 10px;
  padding-left: 130px;
  text-align: left;
}

#question-interviewer {
  font-size: 1.3em;
  text-transform: uppercase;
}

#icon {
  font-size: 2em;
  height: 50%;
  min-height: 370px;
  margin: 2%;
  text-align: center;
}

#share-button {
  background: #ce2f2f;
  color: white;
  font-size: 1.4em;
  margin: 0 auto;
  margin-top: 2%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  width: 256px;
}

@media screen and (max-width: 512px) {
  hr {
    max-width: 256px;
  }

  .container {
    text-align: center;
  }

  #question {
    margin: 1%;
    min-height: 90px;
  }

  #question-icon {
    float: left;
  }

  #question-icon img {
    height: 50%; width: 50%;
    padding: none;
  }

  #question-text {
    font-size: 12px;
  }

  #icon {
    /*height: 50%;*/
    min-height: 10px;
    text-align: center;
  }

  #icon img {
    height: 90%; width: 90%;
    padding-top: 3%;
  }
}
