html, body {
  font-family: "Futura";
  height: 100%; width: 100%;
  margin-left: 0;
}

hr {
  max-width: 650px;
}

.container {
  height: 100%;
  margin: 0 auto;
  max-width: 700px;
}

#question {
  min-height: 120px;
  padding: 2%;
}

#question-wrapper {
  margin: 0 auto;
  height: 75%; width: 75%;
}

#question-icon {
  float: left;
  width: 120px;
}

#question-icon img {
  height: 70%; width: 70%;
  margin: 0 auto;
  padding: 15%;
}

#question-text {
  font-size: 16px;
  padding-top: 10px;
  padding-left: 130px;
  text-align: left;
}

#question-interviewer {
  font-size: 1.3em;
  text-transform: uppercase;
}

#mic {
  font-size: 2em;
  height: 60%;
  text-align: center;
}

#mic img {
  padding-top: 6%;
  padding-bottom: 6%;
}

#share {
  display: none;
}

#share-button {
  background: #ce2f2f;
  color: white;
  font-size: 1.4em;
  margin: 0 auto;
  margin-top: 2%;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  width: 300px;
}

@media screen and (max-width: 512px) {
  #question-text {
    font-size: 12px;
  }
}
